In [1]:
from owid.catalog import charts
import pandas as pd

In [2]:
import sys
import os
from dotenv import load_dotenv

load_dotenv()
work_dir = os.getenv('WORK_DIR')
sys.path.append(work_dir)

In [26]:
cause_of_deaths = pd.read_csv('../data/cause_of_deaths.csv', sep=',')

In [5]:
cause_of_deaths

,Country,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [27]:
air_pollution = charts.get_data('https://ourworldindata.org/grapher/long-run-air-pollution')

In [28]:
air_pollution.rename(columns={'entities': 'Country', 'years': 'Year', 'nox': 'nitrogen_oxide(NOx)' , 'so2': 'sulphur_dioxide(SO2)', 'co': 'carbon_monoxide(CO)', 'bc': 'black_carbon(BC)', 'nh3': 'ammonia(NH3)', 'nmvoc': 'non_methane_volatile_organic_compounds'}, inplace=True)

In [29]:
air_pollution

,Country,Year,nitrogen_oxide(NOx),sulphur_dioxide(SO2),carbon_monoxide(CO),black_carbon(BC),ammonia(NH3),non_methane_volatile_organic_compounds
0,Afghanistan,1750,555.47860,174.87167,142073.31,1633.0308,7681.0464,13596.633
1,Afghanistan,1760,578.50757,181.99332,147859.23,1699.5359,8000.8574,14150.870
2,Afghanistan,1770,602.47980,189.38850,153867.40,1768.5956,8333.9610,14726.470
3,Afghanistan,1780,627.43220,197.06535,160104.42,1840.2854,8680.9060,15324.077
4,Afghanistan,1790,653.40310,205.03189,166576.77,1914.6805,9042.2660,15944.332
...,...,...,...,...,...,...,...,...
48220,Zimbabwe,2018,82210.49000,56748.18400,1557296.50,32050.9020,124543.0160,291050.400
48221,Zimbabwe,2019,79547.03000,53065.87500,1574731.90,32552.8750,127205.2700,294380.620
48222,Zimbabwe,2020,68338.91400,43894.06000,1593834.00,32467.2950,129910.9300,298699.940
48223,Zimbabwe,2021,71148.93000,45291.41800,1624286.00,33174.6050,132651.4800,304488.380
48224,Zimbabwe,2022,73363.71000,51669.65000,1626256.20,33231.3200,134480.5800,305560.900

In [30]:
gdp_per_capita = charts.get_data('https://ourworldindata.org/grapher/gdp-per-capita-penn-world-table')

In [31]:
gdp_per_capita.rename(columns={'entities': 'Country', 'years': 'Year','gdp_per_capita_penn_world_table': 'gdp_per_capita'}, inplace=True)

In [11]:
gdp_per_capita

                         Country  Year  gdp_per_capita
0                 United Kingdom  1950      10457.3790
1                        Ireland  1950       5439.0483
2                         France  1950       7635.0020
3                        Belgium  1950       8348.5650
4                    Netherlands  1950       9007.3620
...                          ...   ...             ...
10103                   Suriname  2019      14480.7070
10104                El Salvador  2019       8116.2690
10105                      Macao  2019      93488.3750
10106                    Curacao  2019      21161.5800
10107  Sint Maarten (Dutch part)  2019      31100.9630

[10108 rows x 3 columns]

In [32]:
obesity = charts.get_data('https://ourworldindata.org/grapher/obesity-prevalence-adults-who-gho')

In [33]:
obesity.rename(columns={'entities': 'Country', 'years': 'Year', 'obesity_prevalence_adults_who_gho': 'obesity_prevalence_percentage'}, inplace=True)

In [22]:
obesity

                          Country  Year  obesity_prevalence_percentage
0                  United Kingdom  1975                            9.4
1                         Ireland  1975                            6.4
2                          France  1975                            8.8
3                         Belgium  1975                           10.5
4                     Netherlands  1975                            5.5
...                           ...   ...                            ...
8269        Western Pacific (WHO)  2016                            6.4
8270                 Africa (WHO)  2016                           10.6
8271               Americas (WHO)  2016                           28.6
8272  Eastern Mediterranean (WHO)  2016                           20.8
8273        South-East Asia (WHO)  2016                            4.7

[8274 rows x 3 columns]

In [34]:
diabetes = charts.get_data('https://ourworldindata.org/grapher/diabetes-prevalence-who-gho')

In [35]:
diabetes.rename(columns={'entities': 'Country', 'years': 'Year', 'diabetes_prevalence_who_gho': 'diabetes_prevalence_percentage'}, inplace=True)

In [19]:
diabetes

                          Country  Year  diabetes_prevalence_percentage
0                  United Kingdom  1980                             4.4
1                         Ireland  1980                             3.8
2                          France  1980                             4.9
3                         Belgium  1980                             5.9
4                     Netherlands  1980                             3.8
...                           ...   ...                             ...
6890        Western Pacific (WHO)  2014                             8.4
6891                 Africa (WHO)  2014                             7.1
6892               Americas (WHO)  2014                             8.3
6893  Eastern Mediterranean (WHO)  2014                            13.7
6894        South-East Asia (WHO)  2014                             8.6

[6895 rows x 3 columns]

In [36]:
population = charts.get_data('https://ourworldindata.org/grapher/population')

In [37]:
population.rename(columns={'entities': 'Country', 'years': 'Year'}, inplace=True)

In [24]:
population

                            Country   Year  population
0                    United Kingdom -10000        2189
1                           Ireland -10000         224
2                            France -10000       16785
3                           Belgium -10000         888
4                       Netherlands -10000        1220
...                             ...    ...         ...
59172                   Europe (UN)   2023   745602869
59173                   Africa (UN)   2023  1480770527
59174  Asia (excl. China and India)   2023  1839126400
59175                 Americas (UN)   2023  1041794259
59176  South America (excl. Brazil)   2023   224571280

[59177 rows x 3 columns]

In [38]:
merged_air = pd.merge(cause_of_deaths, air_pollution, left_on=['Country', 'Year'],
                        right_on=['Country', 'Year'], how='left')

In [39]:
merged_gdp = pd.merge(merged_air, gdp_per_capita, left_on=['Country', 'Year'],
                        right_on=['Country', 'Year'], how='left')

In [40]:
merged_obesity = pd.merge(merged_gdp, obesity, left_on=['Country', 'Year'],
                        right_on=['Country', 'Year'], how='left')

In [41]:
merged_diabetes = pd.merge(merged_obesity, diabetes, left_on=['Country', 'Year'],
                        right_on=['Country', 'Year'], how='left')

In [42]:
merged_df = pd.merge(merged_diabetes, population, left_on=['Country', 'Year'],
                        right_on=['Country', 'Year'], how='left')

In [43]:
merged_df

,Country,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,nitrogen_oxide(NOx),sulphur_dioxide(SO2),carbon_monoxide(CO),black_carbon(BC),ammonia(NH3),non_methane_volatile_organic_compounds,gdp_per_capita,obesity_prevalence_percentage,diabetes_prevalence_percentage,population
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,425144.75,12876.9610,1013430.94,8362.603,73274.350,404866.40,NaN,1.3,6.6,12045664.0
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,413349.72,12671.9840,983752.06,8494.117,77547.380,381666.22,NaN,1.4,6.7,12238879.0
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,272757.10,7732.8310,654986.94,8487.974,83017.660,242334.94,NaN,1.5,6.9,13278982.0
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,276675.40,7967.0625,662752.90,8756.007,89469.490,240105.75,NaN,1.5,7.1,14943174.0
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,252820.98,7698.9930,657333.00,9055.427,95695.220,234383.25,NaN,1.6,7.2,16250799.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,80178.04,67009.9700,1460933.60,29917.240,116320.484,274259.53,2880.9058,15.2,NaN,14399009.0
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,74604.40,60951.7930,1483953.10,30161.822,121476.000,276791.56,2919.6170,15.5,NaN,14600297.0
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,74787.19,53447.1880,1516500.10,30984.312,121789.484,283945.00,3112.8750,NaN,NaN,14812484.0
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,82210.49,56748.1840,1557296.50,32050.902,124543.016,291050.40,3007.2370,NaN,NaN,15034457.0
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,79547.03,53065.8750,1574731.90,32552.875,127205.270,294380.62,2787.6590,NaN,NaN,15271377.0

In [44]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 44 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimer's Disease and Other Dementias     6120 non-null   int64
 5   Parkinson's Disease                         6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular                              6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
 34  nitrogen_oxide(NOx)                         5880 non-null   float64
 35  sulphur_dioxide(SO2)                        5880 non-null   float64
 36  carbon_monoxide(CO)                         5880 non-null   float64
 37  black_carbon(BC)                            5880 non-null   float64
 38  ammonia(NH3)                                5880 non-null   float64
 39  non_methane_volatile_organic_compounds      5880 non-null   float64
 40  gdp_per_capita                              5103 non-null   float64
 41  obesity_prevalence_percentage               5076 non-null   float64
 42  diabetes_prevalence_percentage              4700 non-null   float64
 43  population                                  6060 non-null   float64
dtypes: float64(10), int64(32), object(2)
memory usage: 2.1+ MB

In [45]:

merged_df['TotalDeaths'] = merged_df.iloc[:, 3:34].sum(axis=1)

first_columns = merged_df.columns[:3]
last_columns = merged_df.columns[34:]

merged_df = merged_df[first_columns.tolist() +  ['Cardiovascular']  + last_columns.tolist()  ]

In [46]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 15 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 6120 non-null   object
 1   Code                                    6120 non-null   object
 2   Year                                    6120 non-null   int64
 3   Cardiovascular                          6120 non-null   int64
 4   nitrogen_oxide(NOx)                     5880 non-null   float64
 5   sulphur_dioxide(SO2)                    5880 non-null   float64
 6   carbon_monoxide(CO)                     5880 non-null   float64
 7   black_carbon(BC)                        5880 non-null   float64
 8   ammonia(NH3)                            5880 non-null   float64
 9   non_methane_volatile_organic_compounds  5880 non-null   float64
 10  gdp_per_capita                          5103 non-null   float64
 11  obesity_prevalence_percentage           5076 non-null   float64
 12  diabetes_prevalence_percentage          4700 non-null   float64
 13  population                              6060 non-null   float64
 14  TotalDeaths                             6120 non-null   int64
dtypes: float64(10), int64(3), object(2)
memory usage: 717.3+ KB

In [47]:
merged_df.to_csv('../data/owid.csv')